@import 'material-icons/iconfont/material-icons.scss';

.mi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: $text;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    // Color
    &.c-def { color: $text }
    &.c-alt { color: $text-alt }

    // Opacity
    &.o-30 { opacity: 30%; }

    // Size
    &.s-def { font-size: 24px; }
    &.s-25 { font-size: 25px; }
    &.s-36 { font-size: 36px; }
    &.s-50 { font-size: 50px; }
}
