.radio-player {
    position: absolute;
    top: 0;
    right: 10rem;
    width: 575px;
    height: 220px;
    background: rgba(101, 105, 117, 0.7);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 10px 10px;
}
